* {
    text-decoration: none !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: block;
    padding: 0px 50px;
}

.infoGrid {
    display: grid;
    grid-template-columns: 25% auto;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
